In [1]:
import pandas as pd
import numpy as np

# 1) Tabla BINGO

In [30]:
titulo = 'BINGO'
num_inicio = 1
num_final = 15
largo = len(titulo)
df_bingo = pd.DataFrame()
for i in range(largo):
    # permutation[:5] permite seleccionar aleatoriamente 5 numeros del rango, randint no sirve porque se podrian repetir
    arreglo = np.random.permutation(np.arange(num_inicio, num_final))[:5] 
    num_inicio += 15
    num_final += 15
    df_bingo[titulo[i]] = arreglo

df_bingo.iloc[2, 2] = 'libre'
df_final = df_bingo.style.hide() # ocultar el indice del dataframe
df_final