In [1]:
import numpy as np
import pandas as pd

# 1.

In [2]:
# Escribir un programa que pregunte al usuario por las ventas de un 
# rango de años y muestre por pantalla una serie con los datos de las ventas
# indexada por los años, antes y después de aplicarles un descuento del 10%

In [3]:
inicio = int(input("Introduce el año de inicio: "))
fin = int(input("Introduce el año de fin: "))
arreglo_años = np.arange(inicio,fin+1)
arreglo_venta = []

for año in arreglo_años:
    venta = float(input(f"Ingrese la venta del año {año}: "))
    arreglo_venta.append(venta)    
arreglo_venta

[114.0, 118.0, 126.0, 115.0, 129.0, 117.0]

In [4]:
serie_original = pd.Series(arreglo_venta, index=arreglo_años, name = "Venta Original")
serie_descuento = pd.Series(arreglo_venta, index=arreglo_años , name= "Venta Descuento") * 0.9
serie_final = pd.concat([serie_original, serie_descuento], axis=1)
serie_final.index.name = "Año"
serie_final

      Venta Original  Venta Descuento
Año
2018           114.0            102.6
2019           118.0            106.2
2020           126.0            113.4
2021           115.0            103.5
2022           129.0            116.1
2023           117.0            105.3

# 2.

In [40]:
# generar un diccionario de notas de alumnos
diccionario_notas = {
    "Juan": 7.5,
    "Ana": 8.5,
    "Pedro": 6.5,
    "Luis": 9.8,
    "Maria": 8.5,
    "Jose": 7.5,
    "Rosa": 6.5,
    "Luisa": 9.5,
    "Marta": 8.5,
    "Pablo": 7.5,
    "Miguel": 6.1,
    "Sara": 9.5}

In [24]:
def estadisticas_nota(diccionario: dict):

    notas = pd.Series(diccionario.values(), index=diccionario.keys(), name="Notas")
    notas.index.name="Alumno"
    minimo = notas.values.min()
    maximo = notas.values.max()
    media = notas.values.mean()
    desvest = notas.values.std()
    serie_estadistia = pd.Series([minimo, maximo, media, desvest], index=["Minimo", "Maximo", "Media", "Desviacion Estandar"], name="Estadisticas")

    
    return serie_estadistia

resultado = estadisticas_nota(diccionario_notas)
resultado

Minimo                 6.100000
Maximo                 9.800000
Media                  7.991667
Desviacion Estandar    1.202399
Name: Estadisticas, dtype: float64

# 3.

In [41]:
def ordenar_aprobados(diccionario:dict):
    notas = pd.Series(diccionario.values(), index=diccionario.keys(), name="Notas")
    notas.index.name = "Alumnos"
    notas_ordenadas = notas.sort_values(ascending=False)
    mascara_aprobados = notas_ordenadas >= 7.2
    notas_ordenadas_aprobadas = notas_ordenadas[mascara_aprobados]
    return notas_ordenadas_aprobadas

ranking_aprobados = ordenar_aprobados(diccionario_notas)
print(ranking_aprobados)

Alumnos
Luis     9.8
Luisa    9.5
Sara     9.5
Ana      8.5
Maria    8.5
Marta    8.5
Juan     7.5
Jose     7.5
Pablo    7.5
Name: Notas, dtype: float64

# 4.

In [42]:
def generador_df():
    mes = ['Enero', 'Febrero', 'Marzo', 'Abril']
    ventas = [30500, 35600, 28300, 33900]
    gastos = [22000, 23400, 18100, 20700]
    df_final = pd.DataFrame({'Mes':mes,'Ventas': ventas, 'Gastos': gastos})
    return df_final

generador_df()

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700